{% extends "mainLayuot.twig" %}
{% block content %}
	<section class="common wrapper">
		<div class="common-header__fone">
			<div class="common-header__cont">
				<h1 class="common-header__h1">Резюме_</h1>
			</div>
		</div>
		<div class="common-body">
			<section class="resume__block" id="webDev">
				<h2 class="title">Общая информация_</h2>
				<p class="content">Меня зовут Плотников Алексндр Александрович, мне 37 лет. Проживаю в городе Артеме Приморского края (пригород Владивостока). В 2005 году с отличием, закончил
					<a href="https://www.dvfu.ru/" class="link" target="_blank">ДВПИ имени В.В.Куйбышева</a>. Являюсь магистром техники и технологии по направлению «Приборостроение». В 2013 году защитил кандидатскую диссертацию по специальности - «Акустика». В течении последних 15 лет работаю в
					<a href="https://www.poi.dvo.ru/" class="link" target="_blank">ТОИ ДВО РАН</a>. На данный момент являюсь старшим научным сотрудником лаборатории «Физики геосфер», и занимаюсь разработкой лазерно-интерференционных измерительных систем, для мониторинга волновых процессов в различных геосферах.
				</p>
			</section>
			<section class="resume__block" id="mainInfo">
				<h2 class="title">Веб разработка_</h2>
				<p class="content">В 2018 году начал обучение по специальности веб-разработка в школе
					<a href="https://geekbrains.ru/" class="link" target="_blank">GeekBrains.</a>
					После прохождения основной части программы, понял, что это мое, и перевелся на
					<a href="https://geekbrains.ru/geek_university/web" class="link" target="_blank">факультет</a>
					по той же специальности, но с более расширенной программой (React, nodejs и т.д.). Для более глубокого изучения различных аспектов веб разработки с интересом проходил и прохожу дополнительные курсы на других образовательных ресурсах.
				</p>
				<p class="content">Таким образом с 2018 года по сегодняшний день я писал и пишу довольно много кода, в основном на js, Vue.js, node.js, php и м.д. С некоторыми из моих работ можно ознакомиться в
					<a href="/work" class="link" target="_blank">
						портфолио</a>.</p>
				<section class="resume__allInformation">
					<div class="title">
						<i class="fa fa-caret-right" aria-hidden="true"></i>
						<h4>Полный список курсов, что я прошел на текущий момент_</h4>
					</div>
					<div class="content active">
						<h4>Курсы в GeekBrains</h1>
						<ol>
							<li>
								<a href="https://geekbrains.ru/courses/9" class="linkToCourse" target="_blank">HTML5 и CSS3</a>
							</li>
							<li>
								<a href="https://geekbrains.ru/courses/6" class="linkToCourse" target="_blank">JavaScript. Уровень 1</a>
							</li>
							<li>
								<a href="https://geekbrains.ru/courses/83" class="linkToCourse" target="_blank">JavaScript. Уровень 2</a>
							</li>
							<li>
								<a href="https://geekbrains.ru/courses/11" class="linkToCourse" target="_blank">Node.js</a>
							</li>
							<li>
								<a href="https://geekbrains.ru/courses/307" class="linkToCourse" target="_blank">Linux. Рабочая станция</a>
							</li>
							<li>
								<a href="https://geekbrains.ru/courses/4" class="linkToCourse" target="_blank">PHP. Уровень 1</a>
							</li>
							<li>
								<a href="https://geekbrains.ru/courses/5" class="linkToCourse" target="_blank">PHP. Уровень 2</a>
							</li>
							<li>
								<a href="https://geekbrains.ru/courses/690" class="linkToCourse" target="_blank">Основы реляционных баз данных. MySQL</a>
							</li>
						</ol>
						<h4>Другие образовательные ресурсы</h1>
						<ol>
							<li><a href="https://js.dmitrylavrik.ru/vue/?utm=site-footer" class="linkToCourse" target="_blank">Фреймворк Vue.js</a></li>
							<li><a href="https://js.dmitrylavrik.ru/vue-advanced/?utm=site-footer" class="linkToCourse" target="_blank">Vue Advanced</a></li>
							<li><a href="https://js.dmitrylavrik.ru/frontend/?utm=site-footer" class="linkToCourse" target="_blank">Javascript для фронтенд разработки</a></li>
						</ol>
					</div>
				</section>
			</section>
			<section class="resume__block" id="technology">
				<h2 class="title">Технологии, с которыми имел опыт работать_</h2>
				{% if admin %}
					<form class="add-technology" id="add_technology">
						<input type="text" name="linkToImg" placeholder="link to img">
						<input type="text" name="title" placeholder="name">
						<button>Добавить</button>
					</form>
				{% endif %}
				<div class="technologyes" >
					{% for technologe in technologies %}
						<div class="technology" data-wrapp="{{technologe.id}}">
							<div class="content-technology">
								<img src="{{technologe.linkToImg}}" alt="html">
								<span>{{technologe.title}}</span>
							</div>
							{% if admin %}
								<form class="delete" id="del_technology">
									<div class="check">
										<input type="checkbox" name="sure" data-id="{{technologe.id}}">
										<p>Вы уверены?</p>
									</div>
									<button class="block del-tec" disabled data-id="{{technologe.id}}">Удалить</button>
								</form>
							{% endif %}
						</div>
					{% endfor %}

				</div>
			</section>
			<section class="resume__block" id="mentoring">
				<h2 class="title">Наставничество_</h2>
				<p class="content">На данный момент я являюсь действующим наставником школы GeekBrains на курсах: html&css, js1, js2, node.js, php1, php2. В мои обязанности входит помогать студентам осваивать программу обучения, выполнять практические задания и учебные проекты.
					<a href="/reviews" class="link" target="_blank">Тут</a>
					вы может ознакомиться с отзывами от некоторых студентов с которыми я работал. Так же при необходимости могу показать все отзывы, оставленные студентами в системе GeekBrains.</p>
			</section>
			<section class="resume__block" id="softSkills">
				<h2 class="title">Soft skilss_</h2>
				<p class="content">Имею дополнительное психотерапевтическое образование и большой опыт работы над собой, в плане улучшения различных аспектов своей личности. Например, по-моему мнению, и мнению людей, что меня окружают, я имею хорошие soft skills (набор навыков для контакта и взаимодействия с людьми).</p>
			</section>
			<section class="resume__block" id="softSkills">
				<h2 class="title">Английский язык_</h2>
				<p class="content">
					С начала 2020 года изучаю английский язык в онлайн школе
					<a href="https://skyeng.ru/" class="link" target="_blank">Skyeng</a>. Занимаюсь три раза в неделю. Поскольку начальные знания языка у меня были очень слабые, на данный момент занимаюсь на ступени Pre-Intermediate.</p>
			</section>
			<section class="resume__block" id="softSkills">
				<h2 class="title">Мои интересы_</h2>
				<p class="content">На данный момент ищу удаленную работу, с гарантированной занятостью около 4-ч часов в день. Основная цель развитие и получение опыта в разработке реальных проектов. Мне нравится верстать, однако наибольший интерес вызывает работа с js, Vue.js и node.js (готов изучать React). Таким образом на данный момент js мне ближе чем php, тем не менее я готов работать и развиваться и на стороне php.
				</p>
			</section>
		</div>
		<script src="/src/js/smoothScroll.js"></script>
		<script src="/src/js/functions.js"></script>
		<script src="/src/js/header.js"></script>
		<script src="/src/js/technologies.js"></script>
		<script src="/src/js/resume.js"></script>
		<script src="/src/js/slider.js"></script>
		<script src="/src/js/server.js"></script>

	</section>
{% endblock %}
