{% extends "mainLayuot.twig" %}
{% block content %}
	<section class="common wrapper">
		<div class="common-header__fone">
			<div class="common-header__cont">
				<h1 class="common-header__h1">{{title }}</h1>
			</div>
		</div>
		<div class="common-body">
			<div class="work">
				{% if result =='ok' and admin %}
					<p class="result_loader">Работа была успешно отредактированна!</p>
				{% endif %}
				{% if admin %}
					<a href="/work/edit?id={{id}}" class="work__linkToEdit">Редактировать</a>
					<div class="work__deleteWork">
						<a href="/work/delete?id={{id}}" class="block delete">Удалить</a>
						<input type="checkbox" class="accessDel">
					</div>
				{% endif %}
				<div class="work__img" data-src="{{img_big}}">
					<img src="/{{img_big}}" width="720" height="476" alt="name" class="big-picture__img">
				</div>
				<div class="work__tags">
							<span class="title">Tехнологии:
							</span>
							{% for tag in tagsForInput %}
								<span>{{tag}}</span>
							{% endfor %}
						</div>
				<p class="work__description">{{description}}</p>
				<a href="{{project}}" class="work__a">Посмотреть проект...</a>
				{%  if work.git != "noaccess" %}
					<a href="{{git}}" class="work__a">Посмотреть код..
					</a>
				{% else %}
					<p class="work__noAccess">Код закрыт по просьбе заказчика..</p>
				{% endif %}
				<a href="/work" class="work__a">Назад в портфолио...
				</a>
			</div>
		</div>
		<script src="/src/js/smoothScroll.js"></script>
		<script src="/src/js/functions.js"></script>
		<script src="/src/js/header.js"></script>
		<script src="/src/js/work.js"></script>
	</section>
{% endblock %}
